@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,800&display=swap");



#name {
    border-radius: 5px;
    align-content: end;
}

div {
    display: base-container;
}

* {
    box-sizing: unset;
    font-size: x-large;
}

div.sticky {
    position: absolute;
    bottom: 0;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inp{
    border-radius: 15px;
    height: 44px;
    width: 60%;
}

#send{
    height: 44px;
}

ion-item{
    width: 85%;
}

@media screen and (max-width:480px) {
    body {
        font-size: 80%; // achicamos la fuente en pantallas pequeñas 
    }
}

@media screen and (min-width: 481px) and (max-width:1024px) {
    body {
        font-size: 90%; // achicamos la fuente en pantallas pequeñas 
    }
}
