<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-button slot="secondary" (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-messages></app-messages>
  
  <div class="sticky">
    <ion-item fill="outline">
      <ion-input class="inp" id="name" type="text" [formControl]="messageInput" (keyup.enter)="sendMessage()"></ion-input>
    </ion-item>
    <ion-button slot="end" id="send" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</ion-content>