<!--
<div class="text-center" *ngIf="auth.user | async as user; else showLogin">
  <div class="container-fluid d-flex">
    <h5 class="fw-bold">Chat</h5>
    <button id="logOut" class="btn btn-secondary position-absolute end-0" (click)="logout()">Logout</button>
  </div>
  <hr class="text-bg-dark border border-secondary">

  <app-chat></app-chat>

</div>

<ng-template #showLogin>
  <div id="loginGoogle">
    <p class="fw-bold text-center">Welcome to Chater.</p>
    <img class="img-fluid img-center" src="https://i.gyazo.com/e0b9040f4301eabbcfed59792258bfdb.png" alt="Chater">
    <div class="align-items-center">
      <button class="" (click)="login()">Login with Google</button>
    </div>
  </div>
</ng-template>
-->

<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="https://i.gyazo.com/e0b9040f4301eabbcfed59792258bfdb.png" alt="Chater">
    <button (click)="login()">Login with Google</button>
  </div>  
</ion-content>
